description "{{app_name}} unicorn daemon"

start on virtual-filesystems
stop on runlevel [06]

env PATH={{ rbenv_root }}/shims:{{ rbenv_root }}/bin:/usr/bin:/sbin:/bin

env RAILS_ENV={{app_env}}

setuid {{ deployer_user.name }}
setgid {{ deployer_user.name }}

chdir {{app_path}}

respawn limit 5 5

script
  trap "cat {{app_path}}/tmp/unicorn.pid | xargs kill -USR2" HUP
  bundle exec unicorn -c config/unicorn.rb -E {{app_env}} &&
    flock -x 0 < {{app_path}}/tmp/unicorn.lock
end script

pre-stop script
  start-stop-daemon --stop --pidfile {{app_path}}/tmp/unicorn.pid
end script
