#!/usr/bin/env bash

USER={{deployer_user.name}}
APP_PATH={{be_app_path}}
PATH={{rbenv_root}}/bin:{{rbenv_root}}/shims:$PATH
RAILS_ENV={{be_app_env}}

cd $APP_PATH
RAILS_ENV=$RAILS_ENV bin/delayed_job $1 -n $2
