description "{{app_name}} delayed job runner daemon"

start on virtual-filesystems
stop on runlevel [06]

expect fork
env PATH=/usr/local/rbenv/shims:/usr/local/rbenv/bin:/usr/bin:/sbin:/bin
env RAILS_ENV={{app_env}}
setuid {{deployer_user}}
setgid {{deployer_user}}

chdir {{app_path}}

respawn limit 5 5

kill timeout 5

exec bundle exec bin/delayed_job start
