description "{{app_name}} delayed job runner daemon"

start on virtual-filesystems
stop on runlevel [06]

env PATH={{ rbenv_root }}/shims:{{ rbenv_root }}/bin:/usr/bin:/sbin:/bin
env RAILS_ENV={{be_app_env}}
setuid {{ deployer_user.name }}
setgid {{ deployer_user.name }}

chdir {{be_app_path}}

respawn limit 5 5

kill timeout 5

exec bundle exec bin/delayed_job run
