server {
  listen 80;
  listen [::]:80;

{% if fe_app_url %}
  server_name {{ fe_app_url }};
{% else %}
  # server_name example.com;
{% endif %}


  root {{ fe_app_path }};
  index index.html;

  location / {
    try_files $uri $uri/ =404;
  }
}
