check process sidekiq
  with pidfile {{ be_app_path }}/tmp/sidekiq.pid
  start program = "{{ start_sidekiq_cmd }}" as uid deployer and gid deployer with timeout 90 seconds
  stop program = "{{ stop_sidekiq_cmd }}" as uid deployer and gid deployer with timeout 90 seconds
